{% extends 'base.html.twig' %}

{% block body %}

<h1>{{title}}</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur ullam eius voluptate vel sit eveniet et corporis aspernatur iste ipsum impedit perferendis, maxime nesciunt ducimus a itaque quibusdam molestias? Beatae.</p>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur quos, nostrum laboriosam facilis non illum sapiente suscipit! Ipsa magni nemo amet a accusamus officia labore nam? Aspernatur sed nemo quisquam!</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis earum ipsam numquam, ea rem nihil corrupti vero nulla, doloremque quibusdam nisi tempore ex fugit nobis. Sapiente nihil, eius esse consequuntur mollitia sit repellat consectetur, labore laborum,
    cupiditate facilis hic harum!</p>

<p>Ex fugit molestias asperiores facilis voluptates voluptatem temporibus optio nobis distinctio possimus. Porro harum iste vitae doloribus facilis sit incidunt rerum, esse consequuntur, libero quisquam blanditiis quasi, quis odio aspernatur! Veniam dignissimos
    voluptate nostrum sapiente eaque vitae adipisci inventore cumque.</p>

{% endblock %}